@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    #unemployment
        position absolute
        top 0px
        left 0px
        width 100%
        height 200px
        svg
            .line
                stroke black
                stroke-width 1px
                fill none

    #story
        position absolute
        top 200px
        height 200px
        width 100%
        a.yearSelector
            position absolute
            width 70px
            text-align center
            padding-top 6px
            height (30px - @padding-top)
            margin-left (@width/2 * (-1))
            background #aaa
            &:hover
                cursor pointer
                background #ccc
            &:active
                background #888
        &.js
            .year
                position absolute
                top 20px
                display none
                h2
                p
                    margin-left 15px
                    margin-right 15px
                &.active
                    display block
    #world
        position absolute
        top 400px
        left 0px
        width 100%
        svg
            background HNBlue
            .boundary
                fill none
            .land
                fill #fff
