@import colors
@import prefixes
unemploymentHeight = 170px
storyHeight = 200px
body
    margin 0px
    font-family arial, sans-serif
    overflow hidden
    svg
        overflow hidden
    #unemployment
        position absolute
        top 0px
        left 0px
        width 100%
        height unemploymentHeight
        svg
            text.description
                font-size 0.9em
            .BackgroundHighligher
                fill lighten(HNBlue, 50%)
                stroke HNBlue
            .line
                stroke-width 2px
                fill none
            .area
                fill-opacity 0.4
                &:hover
                    fill-opacity 0.8
            .axis.y
                text
                    font-size 0.72em
                .tick
                    line
                        stroke #555
                        stroke-dasharray 5, 5
                        stroke-width 0.5px
                    &:first-child
                        line
                            stroke #000
                            stroke-dasharray none


    #story
        z-index 2
        position absolute
        top unemploymentHeight
        height storyHeight
        width 100%
        borderColor = HNBlue
        a.arrow
            position absolute
            bottom (-54px - 12px)
            width 53px
            height 54px
            &:hover
                cursor pointer
            &.left
                left 10px
                background transparent url('http://ihned.cz/img/11_0/kulaty_posuvnik-r-neaktivni.png')
                &:hover
                    background-image url('http://ihned.cz/img/11_0/kulaty_posuvnik-l-aktivni.png')
            &.right
                right 10px
                background transparent url('http://ihned.cz/img/11_0/kulaty_posuvnik-l-neaktivni.png')
                &:hover
                    background-image url('http://ihned.cz/img/11_0/kulaty_posuvnik-r-aktivni.png')
        div.yearSelector
            position absolute
            top -5px
            left 0px
            a.yearSelector
                display block
                position absolute
                text-align center
                padding-top 6px
                padding-left 10px
                height (30px - @padding-top)
                background white
                border-top 2px solid borderColor
                border-bottom 2px solid borderColor
                .arrow
                    display block
                    position absolute
                    top -2px
                    right -20px
                    triangleHeight = 20px
                    border-top (triangleHeight * 0.86) solid transparent
                    border-bottom (triangleHeight * 0.86) solid transparent
                    border-left triangleHeight solid borderColor
                    width 0px
                    height 0px
                    span
                        position absolute
                        top -15px
                        left -21px
                        triangleHeight = 18px
                        border-top (triangleHeight * 0.86) solid transparent
                        border-bottom (triangleHeight * 0.86) solid transparent
                        border-left triangleHeight solid white

                &:first-child
                    .arrow
                        display none
                &:last-child
                    border-left 2px solid borderColor

                &.active
                &:active
                &:hover
                    + a .arrow
                        border-left-color white
                    .arrow span
                        display none
                &.active
                    background darken(borderColor, 10%)
                    border-color darken(borderColor, 10%)
                    .arrow
                        border-left-color darken(borderColor, 10%) !important
                &:hover
                    cursor pointer
                    border-color darken(borderColor, 20%)
                    background darken(borderColor, 20%)
                    .arrow
                        border-left-color darken(borderColor, 20%) !important

                &:active
                    background darken(borderColor, 10%)
                    border-color darken(borderColor, 10%)
                    .arrow
                        border-left-color darken(borderColor, 10%) !important

        &.js
            .year
                position absolute
                top 20px
                display none
                &.active
                    display block
    #world
        position absolute
        z-index 1
        top (unemploymentHeight + storyHeight)
        left 0px
        width 100%
        height 230px
        overflow hidden
        svg
            background HNBlue
            .boundary
                fill none
            .land
                fill #fff

